.heading{
    color: #fa9191;
    text-transform: capitalize;
    font-weight: bold;
}
*{
    margin: 0%;
    padding: 0%;
}
body{
    width: 100vw;
    height: 100vh;
    background: url(https://picsum.photos/300/300);
    background-size: cover;
    background-position: center;
}
.div_00{
    width: 100%;
    height: 100vh;
    background: rgba(119, 116, 116, 0.096);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div_00-p{
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 1.5px;
    color:#fa9191;
    text-shadow: 3px 2px #000;

}