{{>head}}
<body>
      <section id="LOGIN">
        <section id="login-form">
            <div id="login">
            <div class="_log-div1">
                <div class="_log-div2">
                    <div class="_log-div3">
                        <div id="loginM">
                            <div id="login-sub">
                                <form action="/reg" method="POST">
                                    <input class="login-inp" type="text" placeholder="name" name="fName">
                                    <br><br>
                                    <input class="login-inp" type="email" placeholder="email" name="email">
                                    <br><br>
                                    <input class="login-inp" type="number" placeholder="phone" name="phone">
                                    <br><br>
                                    <input class="login-inp" type="password" placeholder="password" name="pass">
                                    <br><br>
                                    <button id="login-menu-btn" type="submit"><strong> Register </strong></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
    </section>
</body>
</html>